/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
//@theme "/home/matthias/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
@theme "/usr/share/rofi/themes/docu.rasi"
